fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-multipart
openai
python-dotenv
librosa
numpy
scipy
nltk
passlib[bcrypt]
python-jose[cryptography]
bcrypt
email-validator
google-auth
google-auth-oauthlib
google-auth-httplib2
requests
